.mat-table {
  margin: 50px;
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* font-family: "archia"; */
  background-color: #1E1F1E;
  /* border: 4px solid  seagreen; */
  border-collapse: separate;
border-spacing: 3px 3px;
}

.mat-header-cell {
  /* border-radius: 5px; */
color: white;
font-size: medium;
background-color: seagreen;
padding: 2px;
margin-bottom: 5px;
text-align: center;
/* border-bottom-width: 5px; */
}

table tr td {
  width: 120px;
  padding: 6px;
  text-align: center;
}
h2{
  color: white;
  text-align: center;
  margin-top: 40px;
}

.flex-container {
display: flex;
flex-direction: row;
justify-content: center;
background-color: #1E1F1E;

}

tr.is-red {
  background: red;
}

tr.is-green{
  background: green;
}

.mat-cell, .mat-footer-cell {
/* border-radius: 5px; */
color: rgba(0,0,0,.87);
background-color: #EEEEEE;
padding: .5rem;
margin-bottom: 5px;
text-align: center;
/* border-bottom-width: 5px; */
}
/* .mat-drawer-container {
background-color: #1E1F1E;
} */
/* .mat-table {
font-family: Roboto, "Helvetica Neue", sans-serif;
background-color: #EEEEEE;
} */