<h2>Trade Book</h2>
<div class= flex-container >

<!-- <h2 >Tradebook of {{getData[0].cmName}}</h2> -->

<table mat-table [dataSource]="getData" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="tradeID">
    <th mat-header-cell *matHeaderCellDef>Trade ID</th>
    <td mat-cell *matCellDef="let element">{{element.tradeID}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="cmName">
    <th mat-header-cell *matHeaderCellDef>CM</th>
    <td mat-cell *matCellDef="let element">{{element.cmName}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="orderType">
    <th mat-header-cell *matHeaderCellDef>Trade</th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngStyle]="{'color': element.orderType == 'buy' ? 'green': element.orderType == 'sell' ? 'red': ''}"
    >
      {{element.orderType}}
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="stockName">
    <th mat-header-cell *matHeaderCellDef>Stock</th>
    <td mat-cell *matCellDef="let element">{{element.stockName}}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let element">{{element.price}}</td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Quantity</th>
    <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
  </ng-container>

  <ng-container matColumnDef="tradeValue">
    <th mat-header-cell *matHeaderCellDef>Trade Value</th>
    <td mat-cell *matCellDef="let element">
      {{element.price * element.quantity}}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
