<h2>Corporate Actions Report</h2>
<div class="flex-container">
  
  <table mat-table [dataSource]="getData" class="mat-elevation-z8">
    <ng-container matColumnDef="stockName">
      <th mat-header-cell *matHeaderCellDef>Name of Stock</th>
      <td mat-cell *matCellDef="let element">{{element.stockName }}</td>
    </ng-container>

    <ng-container matColumnDef="openingBalance">
      <th mat-header-cell *matHeaderCellDef>Opening Balance</th>
      <td mat-cell *matCellDef="let element">{{element.openingBalance }}</td>
    </ng-container>

    <ng-container matColumnDef="dailyObligation">
      <th mat-header-cell *matHeaderCellDef>Daily Obligation</th>
      <td mat-cell *matCellDef="let element"
        >{{element.dailyObligation }}</td
      >
    </ng-container>

    <ng-container matColumnDef="netTotal">
      <th mat-header-cell *matHeaderCellDef> Net Total </th>
      <td mat-cell *matCellDef="let element"> {{element.netTotal}} </td>
    </ng-container>
    <ng-container matColumnDef="corporateActionName">
      <th mat-header-cell *matHeaderCellDef> Corporate Action Type</th>
      <td mat-cell *matCellDef="let element"> {{element.corporateActionName}} </td>
    </ng-container>


    <ng-container matColumnDef="corporateAction">
      <th mat-header-cell *matHeaderCellDef>Corporate Actions </th>
      <td mat-cell *matCellDef="let element">
        {{element.corporateAction }}
      </td>
    </ng-container>

    <ng-container matColumnDef="closingBalance">
      <th mat-header-cell *matHeaderCellDef> Closing Balance</th>
      <td mat-cell *matCellDef="let element">
        {{element.closingBalance }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
