<!-- <p> hehlloo </p> -->
<!-- 
<div class="medium-list">
    <div class="list-viewer-wrapper">
      <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onLoginSubmit()" novalidate>
        <div class="form-container">  
          <mat-form-field>
              <input id="email"
                     matInput
                     formControlName="email"
                     [(ngModel)]="user.email"
                     placeholder="Enter your email" />
            </mat-form-field>
  
          <mat-form-field>
              <input id="password"
                     matInput
                     formControlName="password"
                     [(ngModel)]="user.password"
                     placeholder="Enter your password"
                     [type]="hide ? 'password':'text'" />
                <mat-icon matSuffix (click)="hide = !hide">
                  {{hide ? 'visibility' : 'visibility_off'}}
                </mat-icon>
            </mat-form-field>
  
            <button mat-button type="submit" 
                    class="mat-raised-button mat-primary" 
                    [disabled]="!loginForm.valid">Login</button>
            <button mat-button routerLink="/register" class="divider">Register</button>
        </div>
      </form>
    </div>
  </div> -->

  <div class="login-page">
    <mat-card class="mat-elevation-z12">
      <mat-card-title style="text-align: center;">Log In</mat-card-title>
      <br />
      <hr />
      <!-- 
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab>
       -->
      <mat-card-content>
        <form action="" #item="ngForm" (ngSubmit)="onClick(item)">
          <mat-form-field>
            <input matInput placeholder="Email" required name="email" ngModel #email="ngModel" />
            <mat-error *ngIf="email.invalid">Email is required</mat-error>
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" type="password" name="password" ngModel
              #password="ngModel" />
            <mat-error *ngIf="password.errors && password.errors.required">
              Password is required
            </mat-error>
            <mat-error *ngIf="password.errors && password.errors.minlength">
              Password must be of length 6
            </mat-error>
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
  
          <!-- <mat-checkbox>Remember Me!</mat-checkbox> -->
  
          <button type="submit" mat-raised-button color="primary" class="login-button" >
            Log In
          </button>
          <!-- 
          <button mat-raised-button class="login-button">
                Login with Google
              </button> -->
        </form>
      </mat-card-content>
    </mat-card>
  </div>